.hero {
  background: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2840&q=80")
    center center/cover no-repeat;
  min-width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85);
  object-fit: fill;
}
